.friends-container {
  text-align: left;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.friends-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.friends-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.friend-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  button{
    margin-top: 10px;
    width: 100px;
    background-color: #0073b1;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

.friend-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 15px;
}

.friend-info {
  display: flex;
  flex-direction: column;
}

.friend-name {
  font-size: 1.1em;
  color: #333;
  margin: 0;
}

.friend-detail {
  font-size: 0.9em;
  color: #777;
  margin: 3px 0;
  
}
